# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/

# Test & coverage
coverage/
.test_coverage.dart
coverage.json
lcov.info

# Platform folders (not needed for package)
android/
ios/
web/
windows/
linux/
macos/

# Keep CLI entry points
!/bin/

# Metadata
.metadata
.fvm/
